@font-face {
  font-family: PokemonSolid;
  src: url("fonts/Pokemon\ Solid.ttf");
}
@font-face {
  font-family: PokemonByW;
  src: url("fonts/pokemon_black_and_white_version.ttf");
}
@font-face {
  font-family: PokemonDS;
  src: url("fonts/pokemon-ds-font.ttf");
}
@font-face {
  font-family: PocketMonk;
  src: url("fonts/PocketMonk-15ze.ttf");
}

body {
  font-family: PokemonDS;
  font-size: larger;
  height: 100vh;
  min-height: 100vh;
  cursor: url(pictures/golden-pokeball-closed-cursor.png), auto;
}

/* ======== INDEX ========= */
.logo-memorice-index {
  max-width: 70%;
  width: 60%;
  margin-top: 40%;
  padding-right: 25%;
  position: absolute;
}
.start {
  justify-self: end;
  font-size: 12px;
  letter-spacing: 1em;
  visibility: hidden;
  margin-bottom: 4%;
}
.start:hover {
  text-shadow: 5px 5px rgb(97, 75, 2);
  text-transform: uppercase;
}
.container-index {
  box-shadow: 5px 5px 18px #888888;
  border-radius: 5%;
  height: 100vh;
  max-width: 100%;
  min-height: 98vh;
  max-height: 100vh;
  background-image: url(pictures/Fondo\ Cielo\ PokemonS.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.img-ash {
  max-width: 50%;
  align-self: flex-end;
}
.name-input {
  padding: 2%;
}
.bubble {
  position: relative;
  margin: 5% 0% 30% 5%;
  box-shadow: 5px 5px 18px #888888;
  font-family: PokemonDS;
  font-size: 30px;
  line-height: 24px;
  align-self: flex-start;
  width: 30%;
  background: #fff;
  border-radius: 60px;
  padding: 1%;
  text-align: center;
  color: #000;
  line-height: 110%;
}
.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 24px solid #fff;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 270px;
  bottom: -24px;
}

/*============ BOARD =========*/

#gameContainer {
  height: 100vh;
  width: 100%;
  /* background-position: 0%; */
  /* display: block; */
  min-height: 100vh;
}
.big-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  min-height: 100vh;
  background-image: url(pictures/Fondo\ Cielo\ Pokemon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 98vw;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
}
.player {
  display: flex;
  flex-direction: column;
  line-height: 2;
  width: 15%;
  height: 30%;
  align-self: start;
  justify-self: end;
  padding: 1%;
  margin-top: 5%;
  margin-left: 1%;
  background-color: rgb(242, 242, 242, 0.7);
  border-radius: 5%;
  overflow: auto;
  letter-spacing: 0.2em;
  font-family: PokemonDS;
  position: relative;
}
.logo-player {
  /* position: absolute; */
  width: 90%;
}
#myProgress {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 30px;
  box-shadow: 0.5px 2px 10px #d5d4d4;
  background-color: rgb(242, 242, 242);
  margin: 0%;
}
#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(67, 143, 67);
}
.divPokebolas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.div-card {
  outline: 2px solid red;
  margin: 5%;
  padding: 0%;
  perspective: 100%;
  width: 600px;
  height: 620px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  cursor: url(pictures/golden-pokeball-open-cursor-.png), auto; /*CURSOR ABIERTO DORADO*/
}

.mini-div {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.mini-div:hover {
  -ms-transform: scale(1.08); /* IE 9 */
  -webkit-transform: scale(1.08); /* Safari 3-8 */
  transform: scale(1.08);
}
.card-image-front,
.card-image-back {
  border-radius: 10%;
  backface-visibility: hidden;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 0%;
  position: absolute;
  box-shadow: 2px 2px 8px #888888;
}
.card-image-front {
  transform: rotateY(180deg);
}

/* ========================== MODAL  ========================== */
/* ============ WIN MODAL ========== */
.modal-win-container {
  position: fixed; /* Stay in place */
  visibility: hidden;
  z-index: 11; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(38, 38, 38, 0.9); /* Fallback color */
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-win {
  border-radius: 10%;
  visibility: hidden;
  position: relative;
  border-radius: 4%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  background-image: url(pictures/modal-win.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  background-position-y: 10%;
}
.modal-win-gif {
  width: 40%;
  position: relative;
  margin-left: 16%;
  margin-bottom: 8%;
}
.modal-win-section {
  font-family: PokemonDS;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
}
.modal-win-body {
  background-color: rgba(255, 255, 255, 0.399);
  border-radius: 5%;
  padding: 3%;
  text-align: center;
}
.modal-win-h1 {
  color: rgb(255, 255, 255);
  font-family: PocketMonk;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px #444444;
}
.modal-win-h2 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #444444;
}
.modal-win-logo {
  width: 40%;
  margin-top: 7%;
  margin-bottom: 5%;
  margin-right: 5%;
  position: fixed;
}
.restart {
  font-weight: lighter;
  font-size: large;
  padding: 2% 4%;
  margin-bottom: 15%;
  background: rgb(161, 125, 5);
  box-shadow: 5px 5px 18px #444444;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-family: PokemonSolid;
  letter-spacing: 0.3em;
}
.restart:hover {
  text-shadow: 5px 5px rgb(97, 75, 2);
}

/* ============ MATCH MODAL ========== */

.modal-match-container {
  position: fixed; /* Stay in place */
  visibility: hidden;
  z-index: 11; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(38, 38, 38, 0.9); /* Fallback color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-match {
  padding: 5% 5%;
  margin: 5% 5%;
  border-radius: 50%;
  visibility: hidden;
  position: relative;
  display: flex;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.399);
  flex-direction: column;
  align-items: center;
}
.modal-title {
  color: white;
  padding: 0%;
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  font-family: PocketMonk;
  align-self: center;
}

.modal-message {
  align-self: center;
}
.match-img {
  align-self: center;
}

@keyframes modal-effect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*======= RESPONSIVE INDEX ===========*/
@media (max-width: 1055px) {
  .container-index {
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }
  .img-ash {
    align-self: flex-end;
    width: 90%;
    max-width: 100%;
    min-height: 50vh;
    height: auto;
  }
  .a {
    align-self: center;
    font-size: 3px;
    letter-spacing: 1em;
    width: 40%;
  }
  .restart {
    display: flex;
    justify-content: center;
  }
  .bubble {
    margin-top: 20%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    width: 70%;
  }
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 24px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 100px;
    bottom: -24px;
  }
  .logo-memorice-index {
    max-width: 80%;
    margin-top: 8%;
    margin-left: 0;
    width: 100%;
    padding: 0;
    position: absolute;
  }
  p {
    color: #444444;
    font-size: xx-large;
  }
  #text {
    width: 90%;
    margin: 0.5%;
  }
  .mensaje-ash {
    padding-top: 0;
    margin-top: 0;
  }
  /* ======= RESPONSIVE BOARD ======= */

  .big-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .player {
    display: flex;
    flex-direction: column;
    line-height: 2;
    width: 30%;
    height: 30%;
    align-self: center;
    padding: 1% 5% 0% 5%;
    margin-top: 5%;
    margin-left: 1%;
    background-color: rgb(242, 242, 242, 0.7);
    border-radius: 5%;
    font-family: PokemonDS;
  }
  .div-card {
    margin: 1%;
    padding: 0%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}

@media (max-width: 800px) {
  /* ====== MODAL WIN RESPONSIVE ===== */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .modal-win-container {
    margin: 0;
  }
  .modal-win {
    border-radius: 10%;
    visibility: hidden;
    position: relative;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(pictures/modal-win.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    background-position-y: 10%;
  }
  .modal-win-gif {
    width: 40%;
    position: relative;
    margin-left: 10%;
    margin-bottom: 0%;
  }
  .modal-win-section {
    font-family: PokemonDS;
    min-height: 80vh;
    min-width: 70%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
  }
  .modal-win-body {
    background-color: rgba(255, 255, 255, 0.399);
    border-radius: 5%;
    padding: 3%;
    text-align: center;
    width: 70%;
  }
  .modal-win-h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #444444;
    font-family: PocketMonk;
    letter-spacing: 0.1em;
    font-size: large;
  }
  .modal-win-h2 {
    /* color: rgb(97, 75, 2); */
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #444444;
    font-size: large;
  }
  .modal-win-logo {
    width: 80%;
    position: relative;
    align-self: inherit;
  }
  .player {
    display: flex;
    flex-direction: column;
    line-height: 2;
    width: 30%;
    /* height: 30%; */
    align-self: center;
    padding: 1% 5% 0% 5%;
    margin-top: 5%;
    margin-left: 1%;
    background-color: rgb(242, 242, 242, 0.7);
    border-radius: 5%;
    font-family: PokemonDS;
  }
}
@media (max-width: 450px) {
  .div-card {
    width: 300px;
    height: 320px;
  }
  .player {
    outline: 2px solid yellow;
    font-size: small;
    min-width: 60%;
  }
}
