/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

/* #gameContainer {
  outline: 2px solid red;
  margin: 8% 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center; /* position: absolute; */
/* } */

/* .divCard {
  outline: 2px solid rgb(0, 255, 221);
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
} */

/* .miniDiv {
  outline: 2px solid rgb(255, 162, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
  top: inherit;
}

.back {
  position: absolute;
  width: 15%;
  height: 15%;
}

.front {
  position: relative;
}

.miniDiv.flip {
  transform: rotateY(180deg);
} */

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divCard {
  outline: 2px solid red;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.miniDiv {
  outline: 2px solid blue;
  display: flex;
  align-items: center;
  width: fit-content;
}

.miniDiv:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.front {
  position: relative;
  width: fit-content;
}

.back {
  position: absolute;
  width: fit-content;
}

.miniDiv.flip {
  transform: rotateY(180deg);
}
